@media (min-width:320px) and (max-width:1000px){
ul{
  width: 94%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;

}
li{
  float: left;
  list-style: none;
}
li a{
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 2px 2px;
  text-decoration:none;
  color: aliceblue;
  margin-left: 10px;
}
.nombre{
  color: green;
}
.video{
  width: 96%;
  height: 360px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: .2rem;
}
.video iframe{
  height: 360px;
  width: 100%;
  border-radius: .2rem;
}
footer{
  clear: both;
}
.piepagina{
  clear: both;
}
 
}